<?xml version="1.0" encoding="utf-8"?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" id="com.sebastianbrandes.campusdays2014" version="1.1.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>Campus Days 2014</name>
  <description>This is the unofficial app for Campus Days 2014.</description>
  <author href="http://sebastianbrandes.com" email="s@9r.dk">Sebastian Brandes</author>
  <content src="index.html" />
  <access origin="*" />
  <preference name="SplashScreen" value="screen" />
  <preference name="windows-target-version" value="8.1" />
  <preference name="windows-phone-target-version" value="8.1" />
  <preference name="target-device" value="handset" />
  <platform name="wp8">
    <icon src="res/icons/wp8/ApplicationIcon.png" width="99" height="99" />
    <icon src="res/icons/wp8/Background.png" width="159" height="159" />
  </platform>
  <vs:platformSpecificValues />
</widget>